---
layout: page
title: Team
description: Team
sitemap:
    priority: 0.7
    lastmod: 2018-03-21
    changefreq: weekly
---

<header class="major">
	<h1>Team</h1>
</header>

<h3>{{site.people | sort: 'lastname'}}</h3>

{% assign sorted = (site.teams | sort: 'appear') | where:"class", "current" %}
{% for team in sorted %}
    <h2>
        {{team.name}}
    </h2>
    <div class="content">
        <br>
        {% for people in (team.people %}
            {% assign teammatey = site.people | where:"key", people  | first %}
            <p style="clear: both;">
                <span class="image  left" style="max-width: 150px;">
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <img src="{{ site.baseurl }}{{ teammatey.image }}" alt="" />
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </span>
                <h3>
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <b>{{ teammatey.firstname }} {{ teammatey.lastname }}</b>
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </h3>
                <div style="text-align: justify;"> 
                    {{ teammatey.description }} 
                </div>
            </p>
            <br>
            <br>
        {% endfor %}
    </div>
{% endfor %}

<h2>Alumni</h2>

{% assign sorted = (site.teams | sort: 'appear') | where:"class", "alumni" %}
{% for team in sorted %}
    <h2>
        {{team.name}}
    </h2>
    <div class="content">
        <br>        
        {% for teammatey in (site.people | sort: 'lastname') %}
            {% if team.people contains teammatey.key %}
            <p style="clear: both;">
                <span class="image  left" style="max-width: 150px;">
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <img src="{{ site.baseurl }}{{ teammatey.image }}" alt="" />
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </span>
                <h3>
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <b>{{ teammatey.firstname }} {{ teammatey.lastname }}</b>
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </h3>
                <div style="text-align: justify;"> 
                    {{ teammatey.description }} 
                </div>
            </p>
            <br>
            <br>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}