---
layout: page
title: Team
description: Team
sitemap:
    priority: 0.7
    lastmod: 2018-03-21
    changefreq: weekly
---

<header class="major">
	<h1>Team</h1>
</header>

{% assign sortedbyname = (site.people | sort: 'lastname') %}
{% assign sortedbydate = (site.people | sort: 'degreedate') %}

{% assign sorted = (site.teams | sort: 'appear') | where:"class", "current" %}
{% for team in sorted %}
    <h2>
        {{team.name}}
    </h2>
    <div class="content">
        <br>
        {% for teammatey in sortedbydate %}
            {% if team.people contains teammatey.key %}
            <p style="clear: both; float: left;">
                <span class="image  left" style="max-width: 150px;">
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <img src="{{ site.baseurl }}{{ teammatey.image }}" alt="" />
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </span>
                <h3>
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <b>{{ teammatey.firstname }} {{ teammatey.lastname }}</b>
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </h3>
                <div style="text-align: justify; overflow: hidden"> 
                    {{ teammatey.description }} 
					{% if teammatey.degrees %}
						<ul>{{ teammatey.degrees }}</ul>
					{% endif %}
                </div>
            </p>
            <br>
            <br>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

<h2>Alumni</h2>

{% assign sorted = (site.teams | sort: 'appear') | where:"class", "alumni" %}
{% for team in sorted %}
    <h2>
        {{team.name}}
    </h2>
    <div class="content">
        <br>        
        {% for teammatey in sortedbyname %}
            {% if team.people contains teammatey.key %}
            <p style="clear: both; float: left;">
                <span class="image  left" style="max-width: 150px;">
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <img src="{{ site.baseurl }}{{ teammatey.image }}" alt="" />
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </span>
                <h3>
                    {% if teammatey.site %}
                        <a href="{{ teammatey.site }}">
                    {% endif %}
                    <b>{{ teammatey.firstname }} {{ teammatey.lastname }}</b>
                    {% if teammatey.site %}
                        </a>
                    {% endif %}
                </h3>
                <div style="text-align: justify;"> 
                    {{ teammatey.description }} 
                </div>
            </p>
            <br>
            <br>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

<h3>Research Interns and Undergraduate Students</h3>
(VS) indicates visiting student; (VU) indicates Vanderbilt student; (I) indicates UIUC student; year indicates beginning of visit, collaboration, or employment in the group.
<ul>
{% for student in site.data.internsundergrads %}
        <li>{{ student.firstname }} {{ student.lastname }} {{ student.tag }}, {{ student.degree }}, {{ student.department }}, {{ student.year }}</li>
{% endfor %}
</ul>

<h3>Student Awards and Reseaerch Internships</h3>
<ul>
{% for award in site.data.awards %}
    <li>{{ award.name }}, {{ award.award }}, {{ award.organization }}, {{ award.year }}</li>
{% endfor %}
</ul>